
/* HOOK LABEL (MAIN INLINE LABEL) */
.ash-hook {
	position: relative !important;
	clear: both !important;
	width: auto !important;
	float: none !important;
	min-width: 0px !important;
	min-height: 0px !important;
	box-shadow: none !important;
	color: #EEEEEE !important;
	text-decoration: none !important;
	border-radius: 2px !important;
	margin: 2px 0 2px 2px !important;
	font-size: 11px !important;
	font-family: monospace !important;
	font-weight: normal !important;
	display: inline-block !important;
	line-height: 15px !important;
	height: auto !important;
	padding: 1px 5px 1px !important;
	background: rgb(66, 66, 66) !important;
	transition: 0s !important;
	white-space: nowrap !important;
	box-sizing: initial !important;
	z-index: 9997;
}

	/* ACTION HOOK */
	.ash-hook.ash-hook-action {
		background: #D1E8E0 !important;
		color: #2E2E2E !important;
		box-shadow: none !important;
		border: 1px solid #c3d9d1 !important;
	}
	
	/* FILTER HOOK */
	.ash-hook.ash-hook-filter {
		background: #ffe8ea !important;
		color: #3A2D2D !important;
		box-shadow: none !important;
		border: 1px solid rgb(248, 216, 218) !important;
	}

	/* HOOK TYPE */
	.ash-hook .ash-hook-type{
		background: rgba(0, 0, 0, 0.13) !important;
		border-radius: 30px !important;
		min-width: 11px !important;
		line-height: 11px !important;
		padding-top: 0px !important;
		display: inline-block !important;
		text-align: center !important;
		color: rgba(8, 8, 8, 0.9) !important;
		font-size: 9px !important;
		margin: -2px -2px -2px -1px !important;
		float: none !important;
		position: relative !important;
		top: -1px !important;
	}
	.ash-hook.ash-hook-action .ash-hook-type{
		background: rgba(0, 0, 0, 0.2) !important;
		color: rgba(199, 255, 212, 1) !important;
	}
	.ash-hook.ash-hook-filter .ash-hook-type{
		background: rgba(0, 0, 0, 0.15) !important;
		color: #F4E1E1 !important;
	}
	.ash-hook.ash-hook-action.ash-hook-has-hooks .ash-hook-type{
		background: rgba(0, 0, 0, 0.2) !important;
		color: #4DCCA8 !important;
	}
	.ash-hook.ash-hook-filter.ash-hook-has-hooks .ash-hook-type{
		background: rgba(0, 0, 0, 0.25) !important;
		color: rgba(196, 131, 131, 1) !important;
	}
	
	/* HAS HOOKS*/
	.ash-hook.ash-hook-has-hooks {
		cursor: pointer !important;
	}
	
		/* ACTION HOOK */
		.ash-hook.ash-hook-action.ash-hook-has-hooks {
			background: #141415 !important;
			border: 1px solid #289c7c !important;
			color: #F6F6F6 !important;
			box-shadow: none !important;
		}
		
		/* FILTER HOOK */
		.ash-hook.ash-hook-filter.ash-hook-has-hooks {
			background: #16698c !important;
			box-shadow: none !important;
			border: 1px solid #e4d8dd !important;
			color: #FFF !important;
		}

	/* HOOK COUNT */
	.ash-hook .ash-hook-count {
		float:none !important;
		min-width: 12px !important;
		min-height:0 !important;
		font-size: 8px !important;
		background: rgba(255, 0, 43, 0.96) !important;
		border-radius: 20px !important;
		padding: 0px 3px 0px 3px !important;
		box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16) inset, 0 1px 0 rgba(0, 0, 0, 0.01)  !important;
		line-height: 12px !important;
		position: relative !important;
		top: -8px !important;
		right: -9px !important;
		margin: 0 0 -10px -13px !important;
		width: auto !important;
		display: inline-block !important;
		text-align: center !important;
		height: auto !important;
		box-sizing: border-box !important;
		color: rgba(255, 255, 255, 0.95) !important;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2) !important;
	}
	
	/* HOOK DROP DOWN */
	.ash-hook .ash-hook-dropdown {
		position: absolute;
		z-index: 100000;
		line-height: 12px;
		display: none;
		border-radius: 4px;
		box-shadow: 0 3px 7px rgba(0, 0, 0, 0.07), 0 0 0 1px rgba(0,0,0,0.08);
		color: rgb(66, 66, 66);
		font-size: 11px;
		white-space: nowrap;
		padding: 0px 10px 9px;
		margin: 0px 0 0 -16px !important;
		background: rgb(255, 255, 255);
		overflow: visible !important;
		top: 100%;
		text-align: left !important;
	}
	.ash-hook .ash-hook-dropdown:after {
		display:block;
		content:'';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6px;
		border-color: transparent;
		border-bottom-color: #FFF !important;
		border-top-width: 0;
		position: absolute;
		bottom: 100%;
		left: 30px;
		opacity: 1 !important;
	}
	.ash-hook .ash-hook-dropdown:before {
		display:block;
		content:'';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 7px;
		border-color: transparent;
		border-bottom-color: rgba(0, 0, 0, 0.29);
		border-top-width: 0;
		position: absolute;
		bottom: 100%;
		margin-left:-1px;
		left: 30px;
	}
	.ash-hook ul.ash-hook-dropdown li {
		display:block;
		padding: 2px 0 2px 0;
		position: relative;
		margin: 0;
		float: none;
		clear: both;
		width: auto !important;
		float: none !important;
	}
	
	/* HOOK NAME */
	.ash-hook ul.ash-hook-dropdown li.ash-hook-heading {
		padding: 1px 0;
		background: rgba(231, 231, 231, 0.46);
		margin: 10px 0 20px;
		font-size: 13px;
		padding: 9px 7px;
		border: 1px solid rgb(228, 228, 228);
		border-radius: 3px;
	}
	
	/* HOOKED FUNCTION NAME */
	.ash-hook ul.ash-hook-dropdown {}
	.ash-hook ul.ash-hook-dropdown li span.ash-function-string {
		position: relative;
		width: auto !important;
		float: none !important;
		min-width: 0px !important;
		min-height: 0px !important;
		border: 1px solid rgb(228, 228, 228) !important;
		color: rgb(66, 66, 66) !important;
		text-decoration: none !important;
		border-radius: 2px !important;
		margin: 0 !important;
		font-size: 11px !important;
		display: inline-block !important;
		line-height: 15px !important;
		height: auto !important;
		padding: 1px 5px !important;
		background: #f4f4f4 !important;
		transition: .5s !important;
		white-space: nowrap !important;
	}
	.ash-hook ul.ash-hook-dropdown li span:before {
		display: none !important;
	}
	.ash-hook ul.ash-hook-dropdown li span:after {
		display:none !important;
	}
	
	/* HOOK PRIORITY */
	.ash-hook ul.ash-hook-dropdown li.ash-priority {
		display:block;
		height: 1px;
		padding:0;
		margin: 18px 0 11px;
		border-bottom: 1px dotted #ebebeb;
	}
		
		/* HOOK PRIORITY LABEL */
		.ash-hook ul.ash-hook-dropdown li span.ash-priority-label {
			display: inline-block;
			background: #FFFFFF;
			border-radius: 50px;
			line-height: 20px;
			height: 16px;
			font-size: 11px;
			color: #474747;
			padding: 0 5px 0 0;
			margin: -2px 0 0;
			position: relative;
			top: -7px;
			left: 0px;
		}
		.ash-hook ul.ash-hook-dropdown li span.ash-priority-label:after{
			content:"" !important;
		}
		.ash-hook ul.ash-hook-dropdown li span.ash-priority-label:before{
			content:"" !important;
		}
		.ash-hook ul.ash-hook-dropdown li span.ash-priority-label strong {
			font-weight:bold;
		}
	
	/* UNKNOWN */
	.ash-hook ul.ash-hook-dropdown li ul {
		display:none;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 2px 9px rgba(0, 0, 0, 0.21);
		border-radius: 3px;
		position: absolute;
		background: white;
		z-index: 100;
		top: 100%;
		margin-top: -1px;
		left: 15px;
		pointer-events: none;
	}
	.ash-hook ul.ash-hook-dropdown li ul li {}
	.ash-hook ul.ash-hook-dropdown li:hover ul {
		display:block;
	}

	/* UNKNOWN */
	.ash-collection-divider{
		margin: 1px 2px;
		padding: 10px 0;
		font-size: 12px;
		font-weight: bold;
	}

	/* PULSE ANIMATION */
	@-webkit-keyframes ash-pulse {
		0% {
			opacity:0;
		}
		100% {
			opacity:1;
		}
	}
	
	/* LABEL HOVER */
	.ash-hook:hover {
		z-index: 9998;
	}
	.ash-hook:hover .ash-hook-dropdown {
		display:block !important;
	}

/* SHOW-ALL-FILTERS PANEL */
.ash_slider-fix {
	height: 50px !important;
    margin-top: 285px;
}
.ash_icon-fix {
	top: 0 !important;
}
.ash_transition_fix {
	transition: 0.5s;
}
.ash_show {
	left: -392px !important;
	overflow: hidden !important;
}
.ash_active{
	cursor: move;
	user-select: none;
  }
.ash-nested-hooks-block {
	display:none;
	background-color: transparent;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100000;
	width: 442px;
	height: 100%;
	display: block;
	position: fixed;
}
  .ash-nested-hooks-block .ash-show-hooks-sub-div .ash-show-move-window {
	cursor: move;
	text-align: center;
	font-size: 15px;
	padding: 10px;
  }
.ash-nested-hooks-block .ash-show-hooks-icon-test {
	width: 50px;
	height: 50px;
	background-color: #135E96;
	border-radius: 0px 5px 5px 0px;
	font-size: 22px;
    position: absolute;
	top: 250px;
	right: 0;
    box-shadow: -5px 0 10px #7a7a7a29;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}
.ash-nested-hooks-block .ash-show-hooks-icon-test .dashicons-leftright {
	color: white;
	font-size: 35px;
}
.ash-nested-hooks-block .ash-show-hooks-icon-test .dashicons-leftright:before {
	position: absolute;
	top: 15%;
	left: 15%;
}
.ash-nested-hooks-block .ash-show-hooks-sub-div {
	width: 385px;
	height: 100%;
	background: white;
	overflow-y: scroll;
	overflow-x: hidden;
	box-shadow: 6px 0px 0px rgba(0, 0, 0, 0.05), 0 1px 15px rgba(0, 0, 0, 0.3);
	border-right: 1px solid rgba(0, 0, 0, 0.24);
	padding: 3px;
}
.ash-nested-hooks-block.ash-active {
	display:block;
	top: 123px;
}
.ash-nested-hooks-block .ash-hook {
	max-width: 380px;
}

/* SETTINGS */
.ash_padding_fix {
	padding-top: 0px !important;
}
.fields_group > input {
	margin: 0;
}
.ash_show_hooks_for {
	line-height: 2.2em;
}
.ash_show_hooks_for > input {
	margin: 0 0 0 5px;
}
.fields_group label {
	padding-right: 5px;
}

/* ADMIN BAR UX */
#wp-admin-bar-ash-main-menu .ab-submenu .ab-item:before  {
	line-height: 9px;
	display:inline-block;
	background-color: rgba(146, 146, 146, 1);
	width: 9px;
	height: 1px;
	display: inline-block;
	border-radius: 50px;
	margin: 0 6px -1px 0px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.59);
	float: none !important;
	content: "" !important;
	clear: both;
	display: inline-block;
	position: relative;
	top: -1px;
}
#wp-admin-bar-ash-main-menu .ab-submenu .ash-hooks-on .ab-item:before {
	background-color: #b7ed00;
	-webkit-animation: ash-pulse 1s infinite alternate;
}


/* SWITCH-OFF BUTTON UX */
.ash-notification-switch {
	position: fixed;
	background: rgb(35, 40, 45);
	z-index: 100000;
	padding: 0 11px 0 0 !important;
	color: #FFF !important;
	font-size: 13px !important;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: normal;
	white-space: nowrap !important;
	right: 0px;
	line-height: 32px !important;
	height: 32px;
	top: 30px;
	text-decoration: none;
	border-radius: 2px 0 0 2px;
	box-shadow: -1px 1px 4px rgba(0,0,0,0.1);
}
.ash-notification-switch:hover {
	color:white;
	text-decoration:none;
}

	/* ON INDICATOR */
	.ash-notification-switch .ash-notification-indicator {
		background-color: #ff05b2;
		-webkit-animation: ash-pulse 1s infinite alternate;
		width: 9px;
		height: 9px;
		display: inline-block;
		border-radius: 50px;
		margin: 0 2px -1px 11px;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24) inset, 0 -1px 0 rgba(0, 0, 0, 0.12) inset, 0 1px 0 rgba(0, 0, 0, 0.59);
		position: relative;
		top: -1px;
	}


/* UNKNOWN */
.ash-notification-switch .ash-notification-button {
	display: none;
}
.ash-notification-switch:hover .ash-notification-button {
	display: inline-block;
	margin-right: -18px;
	height: 33px;
	line-height: 33px;
	padding: 0 14px 0 11px;
}
.ash-notification-switch .ash-notification-button:hover {
	background: rgba(255, 255, 255, 0.11);
}

.ash-show-hide {
	width: 32px;
	height: 32px;
	top: 5px;
	right: 5px;
	position: absolute;
	-webkit-transform: none;
			transform: none;
	z-index: 2;
	font-size: 11px;
	padding: 0;
	text-decoration: none;
  }
  .ash-hide{
	  height: 25px;
  }


/*---------------------------------------------------------------------------------------------
*  Global styles
*---------------------------------------------------------------------------------------------*/
html {
    overflow-y: scroll; 
}
.ash-margin-r-300 {
	margin-top: 10px;
	margin-right: 260px;
}
.ash-float-left{
	float: left;
}
.ash-float-right{
	float: right;
}
.ash-button-reset{
	width: 150px !important;
	height: 40px !important;
	text-align: center;
}
.ash-jquery-dialog{
	padding:20px;
	display:none;
}

/*---------------------------------------------------------------------------------------------
*  Tabs
*---------------------------------------------------------------------------------------------*/
.ash-tab-box {
    float: left;
	width: 100%;
}
.ash-tab-box-div {
	min-height: 400px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 30px 20px 20px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;	
}

/*---------------------------------------------------------------------------------------------
*  Sidebar
*---------------------------------------------------------------------------------------------*/
.ash-sidebar {
	float: right;
	border: 1px solid #ccc;
	background: #fff;
	margin-right: -260px;
	width: 240px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}
.ash-sidebar  > div{
	padding: 15px;
}
.ash-sidebar  h2{
	font-size: 16px;
	text-align: center;
	color: #888;
	line-height: 24px;
}
.ash-donation-text{
	text-align:center;
	color: #555
}
.ash-donation-gif{
	/* background: url("../images/donate.gif") no-repeat; */
	width: 92px;
	height: 26px;
	margin: auto;
}
.ash-grey-row{
	height: 20px;
	background-color: #fff;
}
.ash-white-row{
	height: 20px;
	background-color: #fff;
}
.ash-row-text{
	font-size: 13px;
	color: #555;
}
.ash-sidebar-link{
	text-decoration: none;
}
.ash-support-us{
	/* background: url("../images/rate.png") no-repeat center right; */
	width: 88px;
	height: 18px;
	margin-top: 0px;
}

/*---------------------------------------------------------------------------------------------
*  Box messages
*---------------------------------------------------------------------------------------------*/

.ash_settings_saved_notice {
	display: flex;
	margin-top: 15px;
	margin-bottom: 15px;
	color: forestgreen;
}

.ash_settings_not_saved_notice {
	display: flex;
	margin-top: 15px;
	margin-bottom: 15px;
	color: red;
}

.ash-box-warning {
	border-bottom: 1px dashed orange;
	color: #404040;
	padding: 10px 10px 10px 40px;
	margin-bottom: 20px;
	background-color: antiquewhite;
}


/**
Disable function button
*/
.disable_callback {
	color: red;
}

.ash-callbacks-table {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
.ash-callbacks-table th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
.ash-callbacks-table tr {background-color:#ffffff;}
.ash-callbacks-table td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
.ash-callbacks-table tr:hover {background-color:#f0f0f1;}
.ash_callback_enable{
	cursor: pointer;
	color: green;
	font-weight: bold;
}
.ash-disabled-callback-count{
	float: none !important;
    min-width: 12px !important;
    min-height: 0 !important;
    font-size: 8px !important;
    background: rgba(255, 0, 43, 0.96) !important;
    border-radius: 20px !important;
    padding: 0px 3px 0px 3px !important;
    box-shadow: 0 -1px 0 rgb(0 0 0 / 16%) inset, 0 1px 0 rgb(0 0 0 / 1%) !important;
    line-height: 12px !important;
    position: relative !important;
    top: -8px !important;
    right: -9px !important;
    margin: 0 0 -10px -13px !important;
    width: auto !important;
    display: inline-block !important;
    text-align: center !important;
    height: auto !important;
    box-sizing: border-box !important;
    color: rgba(255, 255, 255, 0.95) !important;
}

#wp-admin-bar-ash-main-menu .show-hooks-pro-menu-promotion .ab-item{
	color: rgb(126, 17, 17);
	font-weight: bold;
	-webkit-animation: ash-pulse 1s infinite alternate;

  }
  #wp-admin-bar-ash-main-menu .show-hooks-pro-menu-promotion .ab-item:before {
	background-color: #d3254b;
}
/* Oxygen compatiblity */
.oxygen-body {
	display: block !important;
}